.background {
  height: 1369px;
  width: 100vw;
  background-image: url('./assets/cover.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  align-items: center;

  justify-content: center;

  color: white;

}